<head>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <link href='~/Content/vtintranet/gallery.css' rel='stylesheet' />
    <script>let events = "@ViewBag.events";</script>
</head>
<h2>@ViewBag.Title</h2>
 
<hr />
<div id="validatG" style="text-align: center;"></div>
<div id="gallery_container"></div>
<script src='~/Scripts/vtintranet/gallery.js'></script>