<style>
    h2 {
        text-transform: uppercase;
        font-size: 40px;
        color: #21356a;
        font-weight: 700
    }
    h3 {
        text-transform: uppercase;
        font-size: 30px;
        color: #21356a;
        font-weight: 700
    }
    #about-dad {
        width: 100%;
        margin: 30px 30px 0;
    }
    #about-dad p {
        font-size: 15px;
        color: #808080;
        text-align: justify
    }
    .separador-h {
        height: 10px;
        background: #21356a
    }
    .separado-cont {
        width: 60%;
        margin-left: auto;
    }
    #about-content {
        display: flex;
        align-items: center;
    }

    #about-content > div:first-child {
        width: 50%
    }

    div#about-content > div img {
        width: 100%;
    }

    #about-content > div {
        width: 50%;
    }
</style>

<div id="about-dad">

    <h2>QUIÉNES <br />SOMOS</h2>

    <p>
        Vacations Times es un grupo conformado por diferentes empresas relacionadas a la industria de viajes y tecnología.
        Como factor común, nuestro objetivo es la excelencia en el servicio al cliente y la innovación.
        &nbsp;<br />
        &nbsp;<br />
        Nuestro elemento más importante es el capital humano, así que reunimos el mejor talento en las áreas más variadas para
        crear un equipo fuera de serie.

    </p>
    <div class="separado-cont">
        <hr class="separador-h">
    </div>
    <div id="about-content">
        <div>
            <h3>
                NUESTRO TRABAJO <br />
                ES NUESTRA PASIÓN
            </h3>

            <p>
                Queremos que te sientas orgulloso de tu trabajo y tengas al final del
                día algo que contrar a la gente que te rodea. Si no estás contento con
                este trabajo, no lo hagas, seguro encontrarás algo diferente que te
                haga feliz. Tus compañeros están aquí para ayudarte, ayúdalos
                también. Criticar a la gente es divertido excepto cuando es tu turno,
                evítalo. Si quieres viajar viaja, siempre aprenderás más que viendo
                televisión. Nada es imposible sólo requiere más esfuerzo. Aceptar
                el cambio te hará más fuerte, todo cambia constantemente y no lo
                podemos evitar.
            </p>
            &nbsp;
            <p>
                Si no tienes retos en tu trabajo, búscalos, siempre lo apreciaremos.
                No hay límites para lo que puedas conseguir sólo hay límites en lo
                que quieres dar a cambio. No esperes que llegar tarde tem-
                prano te haga el mejor empleado. Ser popularen Facebook no te
                hará popular con tu jefe o tus compañeros, evítalo. Si tienes buenas
                ideas, recuarda que nadie puede leer tu mente, difúndelas. Si eres
                más listo que tu jefe, demúestralo. Si cometes un error, acéptalo y
                haz lo necesario para que nadie lo repita. Si no sabes algo, aprén-
                delo. Quejarse y no hacer nada para cambiar las cosas, es peor que
                no hacer nada, quejate pero cámbialo o no te quejes.
            </p>

        </div>
        <div>
            <img src="~/UploadedFiles/Intranet-VTIMES.png" />
        </div>
    </div>
</div>