<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
<link href='~/Content/vtintranet/attachments.css' rel='stylesheet' />
<div class="attachment">
    <div id="brand-logo">
        <img class="vt" src="~/UploadedFiles/Logos/VTime.png" />
        <img class="cap" src="~/UploadedFiles/Logos/VTime.png" />

        <img class="ad" src="~/UploadedFiles/Logos/Axkan.png" />
        <img class="gs" src="~/UploadedFiles/Logos/Grand_Slam.png" />
        <img class="inc" src="~/UploadedFiles/Logos/INMENSE_Club.png" />
        <img class="inh" src="~/UploadedFiles/Logos/INMENSE_Hotels.png" />
        <img class="vtech" src="~/UploadedFiles/Logos/VTechnology.png" />
        <img class="wp" src="~/UploadedFiles/Logos/Worldpass.png" />
    </div>
    <div id="brand-text">
        <p class="vt">
            Vacations Times es un conjunto de empresas exitosas y competitivas, gracias<br />
            al trabajo, constancia y talento de su capital humano. Nuestro esfuerzo, dedicación<br />
            y compromiso con nuestros clientes nos han colocado a la vanguardia al lado de los mejores<br />
            corporativos internacionales.<br />
            Nuestro grupo engloba tanto a empresas con más de 15 años de experiencia como a start-ups,<br />
            todas ellas enfocadas a sobresalir en sus diferentes áreas. Vacations Times es un conjunto<br />
            de historias de éxito y de empresas construidas con verdaderos estándares de excelencia.
        </p>
        <p class="inc">
        </p> 
        <p class="cap">
            falta texto
        </p>
        <p class="ad">
            AXKAN es una Fundación SIN FINES DE LUCRO cuya finalidad es crear <br />
            oportunidades de desarrollo para las comunidades, especialmente para <br />
            niños y jóvenes. AXKAN, como Fundación Privada, no tiene vínculos con <br />
            instituciones de Gobierno ni con partidos políticos y depende de las <br />
            donaciones de Fundadores, Voluntarios y Empresas.<br />
            La finalidad de la fundación es crear oportunidades de desarrollo para<br />
            las comunidades, especialmente para niños y jóvenes. Cada actividad es <br />
            importante, hombres y mujeres educados, cultos, sensibles, crean un mejor país.

        </p>
        <p class="gs">
            Estamos enamorados del Tenis y nos apasiona jugarlo, mirarlo y sobre todo <br />
            enseñarlo, pues a diario somos testigos de las increíbles cualidades con las<br />
            que este deporte contribuye a la formación humana.<br />
            Nuestro modelo de aprendizaje innovador y divertido, revoluciona la manera <br />
            de ver al tenis, pues dejamos la forma tradicional y mecanizada de practicarlo,<br />
            sustituyendo los drills infinitos que generan constantes lesiones por un sistema<br />
            que prioriza el cuidado del cuerpo y el disfrute del juego; elementos primordiales<br />
            en el trabajo con niños.<br />
            Contamos con un programa especializado e integral, conjuntando el desarrollo <br />
            físico con el carácter competitivo de nuestros jugadores. Nos fascina detectar<br />
            potenciales deportistas de alto rendimiento e impulsar su crecimiento tenístico. <br />
            A su vez, nuestra filosofía deportiva nos permite generar resultados inmediatos,<br />
            tanto en todo aquel que quiera aprender a jugar, como en aquellos tenistas que <br />
            busquen elevar su nivel de juego.

        </p>
        <p class="inh">
            <b>Inmense hotels</b> es una cadena de hoteles. Nuestro objetivo es crear experi- <br />
            encias memorables: Elegimos propiedades que sean únicas y mantenemos <br />
            su originalidad complementada con una decoración exquisita. <br />
            <br />
            Más que una estancia hotelera buscamos crear una experiencia única, que <br />
            involucre todos los sentidos de nuestros visitantes, desde el olor a madera o <br />
            playa de nuestros hoteles, hasta los platillos preparados por nuestros chefs, <br />
            pasando por un msaje ala luz de lasvelaso unacenaroánticaen medio <br />
            de la neblina. <br />
            <br />
            Creemosen lo local y por eso nuestroshotelestienen elementos únicos. <br />
            Nuestro manifiesto culinario usa los ingredientes locales y los mezcla de<br />
            maneras originales <br />

        <p class="vtech">
            Vacations Technology es una empresa especializada en Clubes Vacacionales. Nos hacemos<br />
            cargo de gestionar todos los procesos administrativos relacionados con prospección y ventas,<br />
            así como reservaciones y atención a socios.<br />
            Somos especialistas en el diseño de campañas de fidelización para los clientes del club, <br />
            manejo de redes sociales, campañas de e-mailing y outbound calls. Estamos en constante <br />
            búsqueda de talento. Ponte en contacto con nosotros si quieres colaborar y vivir la <br />
            experiencia VT.

        </p>
        <p class="wp">
            WORLDPASS es una compañía que mejora la industria del Club Vacacional y complementa la<br />
            forma de viajar de nuestros socios.<br />
            WORLDPASS no sólo es una plataforma que le permite el acceso a descuentos de hoteles, <br />
            sino un servicio completo de Asesoría de Experiencia de Viajes.<br />
            Somos una empresa que se dedica totalmente a la industria del concepto Club Vacacional,<br />
            no sólo para asegurar la satisfacción del cliente, sino para promover y reforzar el uso de su Home<br />
            Resort, asegurando upgrades en las membresías y futuras recomendaciones.

        </p>

    </div>

</div>
<div class="cd-popup" role="alert">
    <div class="cd-popup-container">
        <p>¿Deseas borrar el siguiente Archivo?</p>
        <ul class="cd-buttons">
            <li><a class="del" href="#0">Si</a></li>
            <li><a class="del" href="#0">No</a></li>
        </ul>
        <a href="#0" class="cd-popup-close img-replace">Cerrar</a>
    </div>
</div>

<div id="brand-deptos"></div>
<div id="contentFile">
    <table id="attachments">
        <tr>
            <th>File ID</th>
            <th>Nombre</th>
            <th>Departamento</th>
            <th>Ver</th>
            <!--<th>Editar</th>-->
            @if (ViewBag.rolName == "admin")
            {
                <!--<th>Eliminar</th>-->
            }
        </tr>
    </table>
</div>
<script>let t = "@ViewBag.D";</script>
<script src='~/Scripts/vtintranet/attachments.js'></script>


