<link href="~/Content/vtintranet/directory.css" rel="stylesheet" />

<!--<div id="padre-img" style="display:flex; align-items:center; justify-content:space-around;    margin: 30px 0;">
    <div id="">
        <img id="6img" src="/UploadedFiles/Logos/VTime.png" />
        <div class="logoschidos hidden principal">
            <p>Nombre</p>
            <p>Puesto</p>
            <p>Mail</p>
            <p>Skype</p>
            <p>Alain Correa</p><p>CEO</p><p>alaincorrea@gmail.com </p><p>alaincorreaflores</p>
            <p>Maru Moreno</p><p>CEO</p><p>marumoreno33@gmail.com </p><p>maru_moreno333</p>
            <p>David Pérez López </p><p>Estrategias</p><p>gerente.estrategia.vtimes@gmail.com</p><p>gerente.estrategia.vtimes@gmail.com</p>
            <p>Ruben Antonio Luna Miranda</p><p>Estrategias</p><p>analistasr.negocios.vt@gmail.com</p><p>analistasr.negocios.vt@gmail.com</p>
            <p>Jacqueline Diaz</p><p>Estrategias</p><p>procesos.ptc@gmail.com</p><p>procesos.ptc@gmail.com</p>
            <p>Joel Alberto Pérez Flores</p><p>Estrategias</p><p>gte.estrategias.zonab@gmail.com</p><p>gte.estrategias.zonab@gmail.com</p>
        </div>
    </div>
    <div id="">
        <img id="5img" src="/UploadedFiles/Logos/VTechnology.png" />
        <div class="logoschidos hidden">
            <p>Nombre</p>
            <p>Puesto</p>
            <p>Mail</p>
            <p>Skype</p>
            <p>Asimov Martínez Saucedo</p><p>Development</p><p>crm.vtl@gmail.com</p><p>admin.vtl</p>
            <p>SALIM ISRAEL RAMIREZ HERNANDEZ</p><p>Development</p><p>desarrolladorweb.vtimes@gmail.com</p><p>desarrolladorweb.vtimes@gmail.com</p>
            <p>CRISTIAN SANCHEZ TRUJILLO</p><p>Development</p><p>desarrolladorweb2.vtimes@gmail.com</p><p>desarrolladorweb2.vtimes@gmail.com</p>
        </div>
    </div>
    <div id="">
        <img id="7img" src="/UploadedFiles/Logos/Worldpass.png" />
        <div class="logoschidos hidden">
            <p>Nombre</p>
            <p>Puesto</p>
            <p>Mail</p>
            <p>Skype</p>
            <p>ISAAC REYES</p><p>Unidad de finanzas vtimes</p><p>isaac.reyes.vtimes@gmail.com</p><p>cririv29</p>
            <p></p><p>Unidad de finanzas vtimes</p><p></p><p></p>
            <p>ELIAS KU</p><p>Unidad de finanzas vtimes</p><p>elias.ku.vtimes@gmail.com</p><p>elias.vt15</p>
            <p>Mariano Puc Caamal</p><p>Unidad de finanzas vtimes</p><p>gte.finanzas.vtimes@gmail.com</p><p>gte.finanzas.vtimes@gmail.com</p>
            <p>Mariana Guillen</p><p>Unidad de finanzas vtimes</p><p>finanzas05.vtimes@gmail.com</p><p>finanzas05.vtimes@gmail.com</p>
            <p>Esmerlin</p><p>Unidad de finanzas vtimes</p><p>esmerlin.cab.vtimes@gmail.com</p><p>esmerlin.cab.vtimes</p>
            <p></p><p>Unidad de finanzas vtimes</p><p>finanzas.worldpass@gmail.com</p><p></p>
            <p>maria angelica moreno zenteno</p><p>Unidad de finanzas vtimes</p><p>asistente.finanzas.vtimes@gmail.com</p><p>asistente.finanzas.vtimes@gmail.com</p>
            <p>Patricia Diaz</p><p>Unidad de finanzas vtimes</p><p>finanzas06.vtimes@gmail.com </p><p>finanzas06.vtimes@gmail.com </p>
            <p>Mariana Moreno Hernández</p><p>Unidad de finanzas vtimes</p><p>finanzas07.vtimes@gmail.com </p><p>finanzas07.vtimes@gmail.com </p>
            <p>Joshua Cuellar</p><p>Unidad de finanzas vtimes</p><p>finanzas08.vtimes@gmail.com </p><p>finanzas08.vtimes@gmail.com </p>
        </div>
    </div>
    <div id="">
        <img id="3img" src="/UploadedFiles/Logos/INMENSE_Club.png" />
        <div class="logoschidos hidden">
            <p>Nombre</p>
            <p>Puesto</p>
            <p>Mail</p>
            <p>Skype</p>
            <p>Andres Elias Quemada</p><p>Estrategias</p><p>gte.estrategias.zonac@gmail.com</p><p>gte.estrategias.zonac@gmail.com</p>
            <p>Jimena Martinez</p><p>Estrategias</p><p>gte.estrategias.zonaa@gmail.com</p><p>gte.estrategias.zonaa@gmail.com</p>
            <p>Elvia Cifuentes Pacheco</p><p>Estrategias</p><p>gte.estrategias.zonad@gmail.com</p><p>gte.estrategias.zonad@gmail.com</p>
            <p>Selene Isela Aquino Acopa</p><p>Estrategias</p><p>asistente.estrategias.vtimes@gmail.com</p><p>asistente.estrategias.vtimes@gmail.com</p>
            <p>Oscar Tonathiu Andrade Lemus</p><p>Estrategias</p><p>gte.estrategias.zonae@gmail.com</p><p>gte.estrategias.zonae@gmail.com</p>
            <p>Marco Avila</p><p>Estrategias</p><p>coord.proyectos.vtimes@gmail.com</p><p>coord.proyectos.vtimes@gmail.com</p>
            <p>Wendy Fabiola Ojeda Aldana</p><p>Estrategias</p><p>coord02.proyectos.vtimes@gmail.com</p><p>coord02.proyectos.vtimes@gmail.com</p>
            <p>Rafa Luna Miranda</p><p>Estrategias</p><p>gte.estrategias.zonaf@gmail.com</p><p>gte.estrategias.zonaf@gmail.com</p>
        </div>
    </div>
    <div id="">
        <img id="4img" src="/UploadedFiles/Logos/INMENSE_Hotels.png" />
        <div class="logoschidos hidden">
            <p>Nombre</p>
            <p>Puesto</p>
            <p>Mail</p>
            <p>Skype</p>
            <p>Homer Talpa</p><p>Branding</p><p>design.vtimes@gmail.com</p><p>design.vtimes@gmail.com</p>
            <p>Antonio Vazquez</p><p>Branding</p><p>community.vtimes@gmail.com</p><p>community.vtimes@gmail.com</p>
            <p>Tiago Trejo</p><p>Branding</p><p>design2.vtimes@gmail.com</p><p>design2.vtimes@gmail.com</p>
            <p>Santiago</p><p>Branding</p><p>redactorbranding@gmail.com</p><p>redactorbranding@gmail.com</p>
            <p>Braulio</p><p>Branding</p><p>gte.mkt.vtcorporativo@gmail.com</p><p>gte.mkt.vtcorporativo@gmail.com</p>
            <p>Chero Gómez</p><p>Branding</p><p>grandslam.puertoaventuras@gmail.com</p><p>grandslam.puertoaventuras@gmail.com</p>
            <p>Gizen</p><p>Branding</p><p>design3.vtimes@gmail.com</p><p>design3.vtimes@gmail.com</p>
            <p>Sam Acevedo</p><p>Branding</p><p>design4.vtimes@gmail.com</p><p>design4.vtimes@gmail.com</p>
            <p>Gibran</p><p>Branding</p><p>coord.mkt.vtimes@gmail.com</p><p>coord.mkt.vtimes@gmail.com</p>

        </div>
    </div>
</div>-->
