<style>
    h2 {
        text-transform: uppercase;
        font-size: 40px;
        color: #21356a;
        font-weight: 700
    }
    #very-dad {
        margin: 30px auto 0;
        width: 90%
    }
    p {
        color: #808080;
        padding-bottom: 30px
    }
    #very-revistas {
        display: grid;
        grid-template-columns: auto auto auto auto;
        text-align: center
    }
</style>
<div id="very-dad">

    <h2>
        VERY <br />
        TALENTED
    </h2>
    <p>
        VTimes está lleno de gente talentosa, por ello dedicamos este espacio para ellos, quienes hacen posible que la empresa sea exitosa. En Very Talend, nuestra revista, compilamos una serie de reportajes hechos por nuestros colaboradores donde muestran nuestros intereses, experiencias y su pasión por el trabajo.
    </p>

    <div id="very-revistas">

        <a href="http://vacationstimes.com/wp-content/uploads/2019/03/Revista_VT_27.pdf"><img src="http://vacationstimes.com/wp-content/uploads/2019/03/Revista_VT_27-227x294.png" alt=""></a>

        <a href="http://vacationstimes.com/wp-content/uploads/2018/12/Revista_VT_26.pdf"><img src="http://vacationstimes.com/wp-content/uploads/2018/12/Revista_VT_26-227x294.png" alt=""></a>

        <a href="http://vacationstimes.com/wp-content/uploads/2018/09/Revista_VT_25.pdf"><img src="http://vacationstimes.com/wp-content/uploads/2018/09/Revista_VT_25-e1537563200564.png" alt=""></a>

        <a href="http://vacationstimes.com/wp-content/uploads/2018/06/Revista_VT_24.pdf"><img src="http://vacationstimes.com/wp-content/uploads/2018/06/Revista_VT_24_229x294_2.jpg" alt=""></a>

        <a href="http://vacationstimes.com/wp-content/uploads/2018/03/Revista_VT-23-3.pdf"><img src="http://vacationstimes.com/wp-content/uploads/2018/03/portada_web.png" alt=""></a>

        <a href="http://vacationstimes.com/wp-content/uploads/2018/01/Revista_VT2018.pdf"><img src="http://vacationstimes.com/wp-content/uploads/2016/03/Portada-20-02.png" alt=""></a>

        <a href="http://vacationstimes.com/wp-content/uploads/2017/07/RevistaVT_21-1.pdf"><img src="http://vacationstimes.com/wp-content/uploads/2016/03/Portada-20-01.png" alt=""></a>

        <a href="http://vacationstimes.com/wp-content/uploads/2016/09/RevistaVT_20.pdf"><img src="http://vacationstimes.com/wp-content/uploads/2016/03/Portada-20.png" alt=""></a>

    </div>


